.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
  height: 100vh;

  header {
    grid-area: header;
  }

  main {
    grid-column: main;
  }

  aside {
    grid-row: sidebar;
  }

  footer {
    grid-column: footer;
  }
}
